@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #10b981;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), monospace;
  overflow-x: hidden;
}

.hacker-gradient {
  background: radial-gradient(circle at 50% 50%, #111111 0%, #050505 100%);
}

.boss-gradient {
  background: radial-gradient(circle at 50% 50%, #1a0505 0%, #050505 100%);
}